[CONFIG]
BuildVersion = no
DeploymentTrace = no
MaxFilesAtOne = 50
MaxParallel = 5
[INT]
Sender_1    = localhost
Receiver_1  = localhost
Receiver_2  = www.pazzidjango.com
Receiver_3  = www.pazzidjango.com
Receiver_4  = www.pazzidjango.com
[VER]
Sender_1    = www.pazzidjango.com
Receiver_1  = www.pazziman.com
Receiver_2  = www.pazziman.com
Receiver_3  = www.pazziman.com
Receiver_4  = www.pazziman.com
[VAL]
Sender_1    = www.pazzidjango.com
Receiver_1  = www.pazziman.com
Receiver_2  = www.pazziman.com
Receiver_3  = www.pazziman.com
Receiver_4  = www.pazziman.com
[PROD]
Sender_1    = www.pazzidjango.com
Receiver_1  = www.apppazziria.com
Receiver_2  = www.pazzicontrolcenter.com
Receiver_3  = www.pazzicdn.com
Receiver_4  = www.pazziorder.com
[SERVERS]
 [DistriXWebSite]
  MAIN_SRV    = Receiver_1
  MAIN_FOLDER = DistriX
  [Backup]
   SRV    = Receiver_1
   FOLDER = DistriX
 [DistriX]
  MAIN_SRV    = Receiver_1
  MAIN_FOLDER = DistriX
  [Backup]
   SRV    = Receiver_1
   FOLDER = DistriX
 [AppPazziriaPhp]
  MAIN_SRV    = Receiver_2
  MAIN_FOLDER = AppPazziriaPhp
  [Backup]
   SRV    = Receiver_1
   FOLDER = AppPazziriaPhp
 [AppPazziriaServices]
  MAIN_SRV    = Receiver_2
  MAIN_FOLDER = AppPazziriaServices
  [Backup]
   SRV    = Receiver_1
   FOLDER = AppPazziriaServices
 [ManXPhp]
  MAIN_SRV    = Receiver_2
  MAIN_FOLDER = ManXPhp
  [Backup]
   SRV    = Receiver_1
   FOLDER = ManXPhp
 [ManXServices]
  MAIN_SRV    = Receiver_2
  MAIN_FOLDER = ManXServices
  [Backup]
   SRV    = Receiver_1
   FOLDER = ManXServices
 [CrossPosCloudServices]
  MAIN_SRV    = Receiver_2
  MAIN_FOLDER = CrossPosCloudServices
  [Backup]
   SRV    = Receiver_1
   FOLDER = CrossPosCloudServices
 [CrossEntServices]
  MAIN_SRV=Receiver_2 
  MAIN_FOLDER=CrossEntServices_2
  [Backup]
   SRV     = Receiver_1
   FOLDER  = CrossEntServices_2
 [CrossStockServices]
  MAIN_SRV    = Receiver_2 
  MAIN_FOLDER = CrossStockServices
  [Backup]
   SRV     = Receiver_1
   FOLDER  = CrossStockServices
 [CrossMarketingServices]
  MAIN_SRV    = Receiver_2 
  MAIN_FOLDER = CrossMarketingServices
  [Backup]
   SRV     = Receiver_1
   FOLDER  = CrossMarketingServices
 [CrossCdnServices]
  MAIN_SRV    = Receiver_2 
  MAIN_FOLDER = CrossCdnServices
  [Backup]
   SRV     = Receiver_1
   FOLDER  = CrossCdnServices
 [PazziOrder]
  MAIN_SRV    = Receiver_4 
  MAIN_FOLDER = PazziOrder
  [Backup]
   SRV     = Receiver_1
   FOLDER  = PazziOrder
 [PazziOrderPhp]
  MAIN_SRV    = Receiver_4 
  MAIN_FOLDER = PazziOrderPhp
  [Backup]
   SRV     = Receiver_1
   FOLDER  = PazziOrderPhp
 [PazziOrderServices]
  MAIN_SRV    = Receiver_4 
  MAIN_FOLDER = PazziOrderServices
  [Backup]
   SRV     = Receiver_1
   FOLDER  = PazziOrderServices
 [CrossServices]
  MAIN_SRV    = Receiver_2 
  MAIN_FOLDER = CrossServices
  [Backup]
   SRV     = Receiver_1
   FOLDER  = CrossServices                                                                                                                        